$left-background-color: rgb(33, 42, 177);
$left-primary-color: rgb(35, 44, 179);
$left-link-color: #212121;
$left-photo-shadow-color: #cecece;
$left-hr-color:rgb(35, 44, 179);
$left-text-color: #000;
$left-text-secondary-color: #1b1717;
$left-skills-color: #1b1717;
$left-skills-background-color: #e5f4f3;
$left-skills-shadow-color: #1e1e1e;
$left-separator-color: #cecece;
$left-level-background-color: #ffffff;
$left-level-border-color: rgb(35, 44, 179);
$left-level-filled-color: rgb(35, 44, 179);

$right-background-color: #ffffff;
$right-primary-color: #fff;
$right-hr-color: #fff;
$right-separator-color: rgb(35, 44, 179);
$right-year-color: #1a1616;
$right-calendar-icon-color: #1d1b1b;
$right-score-color:rgb(35, 44, 179);
$right-text-color: #000;
$right-text-secondary-color: #0e0d0d;
$right-link-color: rgb(35, 44, 179);
