.navbar {
  background-color: #060b26;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
    
  }
 
}


.nav-menu {
  background-color: #060b26;
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%; 
  transition: ease-in 900ms;
  z-index: 1000;
  
}
.nav-menu.active {
  left: 0;
  transition: ease-out 950ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;

   a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }

  :hover {
    background-color: #1a83ff;
  }
}


.nav-menu-items {
  width: 100%;

  span {
    margin-left: 16px;
  } 
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .menu-bars {
      margin-left: 1rem;
      font-size: 2rem;
      background: none;
      
    }
  }
}


